body {
  font-family: 'Patrick Hand', cursive;
  font-weight: 600;
  margin: 0;
  padding: 0;
  height: 2000px;
}
html {
  scroll-behavior: smooth;
}


a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header {
  position: relative; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url('https://kulikov.com/build/assets/home-bg-BmRwZvdk.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Элементы хедера */
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.header__content {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo img {
  width: 199px;
  height: auto;
}

.header__logo2 {
  position: absolute;
  top: 65%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.header__logo2 img {
  max-width: 542px;
  height: auto;
}

/* Навигация */
.header__nav {
  display: flex;
  gap: 30px;
  margin-right: 120px;
  margin-top: 10px;
}

.header__link {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.header__link:hover,
.header__link.active {
  color: hsl(304, 100%, 81%);
}

.header__link:visited {
  color: white;
}

/* Язык */
.language-selection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  right: 0;
  top: 30px;
}

.language-dropdown {
  position: relative;
  display: inline-block;
}

.current-lang {
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  margin-left: -42px;
  margin-top: -20px;
}

.language-dropdown div {
  padding: 5px 0;
  color: rgb(248, 248, 248);
  cursor: pointer;
  transition: color 0.3s;
}

.language-dropdown div:hover {
  color: hsl(304, 100%, 81%);
}

/* Бургер-меню */
.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.burger div {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.burger.open div:nth-child(1) {
  transform: rotate(-45deg);
  background-color: rgba(79, 23, 73, 0.9);
}

.burger.open div:nth-child(2) {
  opacity: 0;
}

.burger.open div:nth-child(3) {
  transform: rotate(45deg);
  background-color: rgba(79, 23, 73, 0.9);
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

/* Вращающийся текст */
.rotating-text-container {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 800px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 10;
}

.rotating-text {
  font-size: 26px;
  line-height: 1.5;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  animation: fadeIn 1s ease;
}

.text-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -12px;
}

.dot.active {
  background-color: white;
  transform: scale(1.2);
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
} 

.header__link:hover {
  color: hsl(304, 100%, 81%);
}

.header__link:visited {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Мобильные стили */
@media (max-width: 768px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 200vh;
    position: fixed;
    top: -10px;
    left: 0;
    background-color: rgba(79, 23, 73, 0.9);
    padding: 50px 20px;
    z-index: 100;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  }
  .header {
    height: 90vh; 
  }
  

  .header__nav.open {
    opacity: 2;
    visibility: visible;
    transform: translateX(0);
  }

  .burger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
    cursor: pointer;
  }

  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
    opacity: 1;
  }

  .header__link {
    font-size: 26px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
  }

  .language-mobile {
    display: block;
    margin-top: 20px;
    font-size: 16px;
  }

  .language-desktop {
    display: none;
  }

  .header__logo2 {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header__logo2 img {
    max-width: 290px;
  }
  
  .rotating-text-container {
    top: 75%;
  }
  
  .rotating-text {
    font-size: 20px;
    min-height: 80px;
  }
}
.body-no-scroll {
  overflow: hidden;
  height: 100vh;
}


@media (min-width: 769px) {
  .language-desktop {
    display: block;
  }

  .language-mobile {
    display: none;
  }
}